.services-carousel-container {
    width: 100%;
    max-width: 70%;
    margin: auto;
}

.custom-carousel-list {
    height: 200px;
}

.react-multiple-carousel__arrow {
    background-color: rgb(9, 25, 49);
}

.react-multiple-carousel__arrow:hover {
    background-color: rgba(9, 25, 49, 0.657);
}

.service-box {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 243, 230);
    border-radius: 10px;
    text-align: center;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(250, 243, 230);
    transition: all 0.3s ease-in-out;
}

.service-box:hover {
    transform: scale(1.05);
}

.service-icon {
    font-size: 40px;
    margin-bottom: 10px;
}

.service-name {
    font-size: 16px;
    color: rgb(9, 25, 49);
}

.no-services-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Imposta l'altezza desiderata */
    font-size: 18px;
    color: rgb(9, 25, 49); /* Colore del testo */
}

.custom-modified-services {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: rgb(9, 25, 49);
}