.company-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(250, 243, 230);
    overflow: hidden;
    background-color: rgb(250, 243, 230);
}

.card-img-container {
    position: relative;
}

.card-img {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

.card-logo-container {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.card-logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.card-body {
    padding-top: 40px; /* to give space for the logo */
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: rgb(9, 25, 49);
}

.card-text {
    font-size: 0.9rem;
    color: rgb(9, 25, 49);
}

.heart-icon {
    cursor: pointer;
    position: absolute; /* Posiziona l'icona in modo assoluto */
    top: 10px; /* Distanza dal bordo superiore */
    right: 10px; /* Distanza dal bordo destro */
    z-index: 2; /* Assicura che l'icona sia sopra l'immagine */
    transition: color 0.3s ease-in-out; /* Aggiunge una transizione di colore fluida */
    color: white;
    font-size: 18pt;
}

.heart-icon.active {
    color: rgb(212, 0, 0); /* Cambia il colore dell'icona del cuore quando è attiva */
}